rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Allow read and write access to all documents for any authenticated user.
    // This is a simple rule to get started, but you should secure your data
    // more granularly before launching to production.
    match /{document=**} {
      allow read, write: if request.auth != null;
    }
  }
}
